#controles ul {
  list-style-type: none;
  padding: 0;
  transform: translateX(-80%);
}

#controles ul:hover {
  transform: translateX(0);
}

/* Exercício 1: Criar uma transição para quando o mouse estiver em cima dos
 * botões play/stop (para que o elemento se revele lentamente)
 */

  #controles ul {
    transition-property: transform;
    transition-duration: 1000ms;
    transition-timing-function:  ease-in-out;
    transition-delay: 0s;
 }

/*
 * Exercício 2: Você deve implementar uma metáfora visual para cada um dos 4
 * estados dos animais. Algumas *sugestões*:
 *   - com-fome: animal piscando (opacidade variando)
 *   - satisfeito: uma borda verde no animal e o animal fica girando de alegria
 *   - com-raiva: animal fica pulsando (crescendo)
 *   - atacando: animal dá um salto e cresce, com uma borda vermelha
 */
.com-fome {
  animation: com-fome 0.8s linear 0s infinite;
}

@keyframes com-fome {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.satisfeito {
  animation: girando 6s ease-in-out infinite alternate;
}

@keyframes girando {
  from { transform: rotateY(0); border: 10px solid greenyellow;}
  to   { transform: rotateY(3600deg); border: 10px solid greenyellow;}
}

.com-raiva {
  animation: raiva 3s ease-in-out infinite;
}

@keyframes raiva {
  from { transform: scale(1); opacity: 0.7; border: 5px solid red}
  to { transform: scale(1.5); opacity: 1;  border: 5px solid red}
}

.atacando {
  animation: ataque 1s linear infinite alternate;
}

@keyframes ataque {
  from { transform: scale(1); opacity: 0.7; border: 10px solid red; transform: translateY(0%);}
  to { transform: scale(2); opacity: 1; border: 10px solid red; transform: translateY(-30%);}
}
